.App {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

button{
  width: 130px;
  height: 47px;
  border: 10px;
  font-size: 17px;
  border-radius: 10px;
  margin: 15px 0 0 0;
  background: deepskyblue;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}

button:hover{
  background: dodgerblue;
}